body {
	margin: 0px;
	font-family: ''PT Serif', serif';
	color: #101010;
}

.social {
	height: 20%;
	width: 100%;
}

#social-container {
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
	height: 80px;
}

.social-icons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	margin: auto;
}

@media only screen and (max-width: 665px) {
	.navbar {
		/*height: 120px;*/
		width: 100%;
		text-align: center;
	}

	#nav-container {
		margin-right: auto;
		margin-left: auto;
		margin-top: 7%;
		margin-bottom: 3%;
		flex-direction: column;
	}

	#logo-image {
		overflow: auto;
		width: 100px;
		height: 100px;
		margin: auto;
	}

	#logo-image img {
		width: 100%;
		height: auto;

	}

	.info {
		justify-content: center;
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}

	.info a {
		margin-left: 30%;
		margin-right: 30%;
	}

	#content {
		margin: auto;
		display: flex;
		flex-direction: row;
	}

	.content-container {
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 30px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: left;
	}

	#content img {
		width: 80%;
		object-fit: contain;
	}

	.words {
		text-align: center;
		margin-top: 5%;
	}
}

@media only screen and (min-width: 665px) {
	.navbar {
		height: 120px;
		width: 100%;
		text-align: center;
	}

	#nav-container {
		margin-right: 150px;
		margin-left: 150px;
		margin-top: 30px;
		height: 100px;
	}

	#logo-image {
		float: left;
		overflow: auto;
		width: 100px;
		height: 100px;
	}

	#logo-image img {
		width: 100%;
		height: auto;

	}

	.info {
		padding-left: 50px;
		justify-content: center;
		display: flex;
		flex-direction: row;
		float: right;
		margin-top: 20px;
	}

	.info a {
		margin-left: 50px;
	}


	#content {
		margin: auto;
		display: flex;
		flex-direction: row;
	}

	.content-container {
		margin-left: 15%;
		margin-right: 15%;
		margin-top: 30px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		text-align: left;
	}

	#content img {
		width: 55%;
		object-fit: contain;
	}

	.words {
		padding-left: 50px;
	}
}

