body {
	margin: 0px;
	font-family: ''PT Serif', serif';
	color: #101010;
}

html, body {
	margin: 0; 
	height: 100%; 
	overflow: auto;
}


@media only screen and (max-width: 665px) {
	#main-container {
		margin: auto;
		width: 80%;
		font-size: 0;
		/*height: 60%;*/
		display: block;
		display: flex;
		flex-direction: column;
	}

	.img {
		width: 100%;
		height: 100%;
		display: block;
		/*overflow: hidden;*/
		background-position: left;
		background-size: cover;
	}

	.navbar {
		/*height: 120px;*/
		width: 100%;
		text-align: center;
	}

	#nav-container {
		margin-right: auto;
		margin-left: auto;
		margin-top: 7%;
		margin-bottom: 3%;
		flex-direction: column;
	}

	#logo-image {
		overflow: auto;
		width: 100px;
		height: 100px;
		margin: auto;
	}

	#logo-image img {
		width: 100%;
		height: auto;

	}

	.info {
		justify-content: center;
		display: flex;
		flex-direction: row;
		margin-top: 20px;
	}

	.info a {
		margin-left: 30%;
		margin-right: 30%;
	}

	.social {
		height: 20%;
		width: 100%;
	}

	#social-container {
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
		height: 80px;
	}

	.social-icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		margin: auto;
	}
}

@media only screen and (min-width: 665px) {
	#main-container {
		margin: auto;
		width: 80%;
		font-size: 0;
		height: 60%;
		display: block;
		display: flex;
		flex-direction: row;
	}

	.column {
		float: left;
		transition: 0.7s;
		display: inline;
		margin: 0;
		height: 100%;
		width: 25%;
	}
	.img {
		width: 100%;
		height: 100%;
		display: block;
		overflow: hidden;
		transition: 0.7s;
		background-position: left;
		background-size: cover;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
	}

	.column:hover,.img:hover {
		-webkit-filter: none;
		filter: none;
	}

	.navbar {
		height: 120px;
		width: 100%;
		text-align: center;
	}

	#nav-container {
		margin-right: 150px;
		margin-left: 150px;
		margin-top: 30px;
		height: 100px;
	}

	#logo-image {
		float: left;
		overflow: auto;
		width: 100px;
		height: 100px;
	}

	#logo-image img {
		width: 100%;
		height: auto;

	}

	.info {
		padding-left: 50px;
		justify-content: center;
		display: flex;
		flex-direction: row;
		float: right;
		margin-top: 20px;
	}

	.info a {
		margin-left: 50px;
	}

	.social {
		height: 20%;
		width: 100%;
	}

	#social-container {
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
		height: 80px;
	}

	.social-icons {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		margin: auto;
	}
}

